<!DOCTYPE html>
<html>
<head>
  <title>User ID and Ordering</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>Enter Your User ID</h1>
  <form method="post">
    <div class="form-group">
      <input type="text" name="user_id" class="form-control" placeholder="Enter your ID" required>
    </div>
    <div class="form-group">
      <label>Select Question Ordering:</label><br>
      <div class="form-check form-check-inline">
        <input type="radio" name="ordering" id="a_first" value="A_first" class="form-check-input" required>
        <label class="form-check-label" for="a_first">A questions then B questions</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" name="ordering" id="b_first" value="B_first" class="form-check-input">
        <label class="form-check-label" for="b_first">B questions then A questions</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
  </form>

  <style>
    footer {
      position: absolute;
      bottom: 0;
    }
  </style>
  <footer>
    <p>
      <a href="https://github.com/dersuchendee/OntoEval/commit/{{ hash }}" class="btn btn-outline-primary" target="_blank">
        Last commit at {{ time }}</code>
      </a>
    </p>
  </footer>
</body>
</html>
