<!DOCTYPE html>
<html>
<head>
  <title>Introduction</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>Welcome to the OntoEval experiment!</h1>
  <p>This is an ontology evaluation prototype. The evaluation method is CQ verification. CQ-verification, introduced by Blomqvist et al., is a method for verifying the quality and correctness of ontologies using Competency Questions (CQs). CQs are natural language questions that an ontology should be able to answer if it correctly represent the intended domain knowledge</p>
  <form method="post">
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</body>
</html>
